.address-update__page{
    width: 100%;
    position: relative;
    max-width: 1600px;
}

.address-form {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address-form__header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 40px 0;
    text-align: center;
}

.address-form__content {
    width: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-form__details{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 0;
    
}

.address-form__details label{
    font-size: 18px;
    font-weight: bold;
}

.address-form__details input{
    height: 40px;
    margin: 5px 0;
}

.adderss-form__btn{
    width: 100%;
}

.btn--update{
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    border: #ff6347 solid 1px;
    background-color: #ff6347;
    cursor: pointer;
    margin: 40px 0 40px 0;
}

.danger{
    color: red;
    font-size: 16px;
}

/* タブレット (768-850px) 用のスタイル */
@media (min-width: 768px) and (max-width: 850px) {
    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .address-update__page{
    width: 100%;
}

.address-form {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address-form__header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 40px 0;
    text-align: center;
}

.address-form__content {
    width: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-form__details{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 0;
    
}

.address-form__details label{
    font-size: 18px;
    font-weight: bold;
}

.address-form__details input{
    height: 40px;
    margin: 5px 0;
}

.adderss-form__btn{
    width: 100%;
}

.btn--update{
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    border: #ff6347 solid 1px;
    background-color: #ff6347;
    cursor: pointer;
    margin: 40px 0 40px 0;
}

.danger{
    color: red;
    font-size: 16px;
}
}
/* PC (1400-1540px) 用のスタイル */
@media (min-width: 1400px) and (max-width: 1540px) {
    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}