html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
.header {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
}

.header__logo {
    display: flex;
    align-items: center;
    width: 30%;
}

.header__logo a img {
    width: 100%;
    height: auto;
    padding-left: 10px;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 70%;
}

.header__search-form {
    width: 55%;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.header__search-form input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 5px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    width: 45%;
    gap: 10px;
    padding: 0 5px;
}

.logout-btn button {
    border: none;
    font-size: 24px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    align-items: center;
}

.login-btn {
    text-decoration: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.mypage-btn {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    height: 30px;
    align-items: center;
}

.sell-btn {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 2px 30px;
    cursor: pointer;
    font-size: 24px;
}

/* タブレット用 (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .header {
        height: 50px;
    }

    .header__logo {
        width: 27%;
    }

    .header__inner {
        width: 73%;
    }

    .header__search-form {
        width: 50%;
    }

    .search-form {
        width: 90%;
        padding: 0 5px;
    }
    
    .header__search-form input {
        width: 90%;
        height: 35px;
        font-size: 16px;
    }

    .header__nav {
        width: 60%;
        gap: 10px;
        margin: 0 0;
    }

    .logout-btn button {
        font-size: 14px;
        height: 30px;
    }

    .nav__btn{
        text-align: center;
        align-items: center;
    }

    .login-btn {
        font-size: 14px;
        height: 30px;
        
    }
    .nav__btn--mypage {
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .mypage-btn {
        font-size: 14px;
        padding: 3px 0;
    }

    .sell-btn {
        padding: 3px 20px;
        font-size: 14px;
    }
}

