html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
.header {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
}

.header__logo {
    display: flex;
    align-items: center;
    width: 30%;
}

.header__logo a img {
    width: 100%;
    height: auto;
    padding-left: 10px;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 70%;
}

.header__search-form {
    width: 60%;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.header__search-form input {
    width: 75%;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 5px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr)); 
    width: 40%;
    gap: 20px;
    padding: 0 5px;
}

.logout-btn button {
    border: none;
    font-size: 24px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    align-items: center;
}

.login-btn {
    text-decoration: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.mypage-btn {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    height: 30px;
    align-items: center;
}

.sell-btn{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 2px 30px;
    cursor: pointer;
    font-size: 24px;
}

/* タブレット用 (768-850px) */
@media (min-width: 768px) {

    .header {
        height: 50px;
    }

    .header__logo {
        width: 27%;
    }

    .header__inner {
        width: 73%;
    }

    .header__search-form input {
        width: 80%;
        height: 35px;
        font-size: 16px;
    }

    .header__nav {
        width: 50%;
        gap: 10px;
        margin: 0 0;
    }

    .logout-btn button {
        font-size: 16px;
        height: 30px;
    }

    .login-btn {
        font-size: 16px;
        height: 30px;
    }
    .nav__btn--mypage{
        height: 30px;
        display: flex;

    }
    .mypage-btn {
        font-size: 16px;
        padding: 3px 0;  
    }

    .sell-btn{
        padding: 3px 20px;
        font-size: 16px;
    }
}

/* PC用 (1400-1540px) */
@media (min-width: 1400px) {

    .header {
        height: 60px;
    }

    .header__logo {
        width: 30%;
    }

    .header__logo a {
        width: 70%;
    }

    .header__inner {
        width: 70%;
    }

    .header__search-form {
        width: 70%;
    }

    .search-form {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .header__search-form input {
        width: 75%;
        height: 40px;
        font-size: 24px;
    }

    .header__nav {
        gap: 20px;
    }

    .login-btn {
        font-size: 24px;
    }

    .logout-btn button {
            font-size: 24px
    }

    .mypage-btn {
        font-size: 24px;
    }

    .nav__btn--sell a {
        padding: 5px 40px;
        font-size: 24px;
    }

}