.alert{
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    max-width: 1600px; 
}

.alert-success,
.alert-danger{
    font-size: 14px;
    margin: 10px 30px;
    padding: 0 10px;
    text-align: center;
    width: 20%;
}

.alert-success{
    color: green;
    border: 1px solid green;
    background-color: rgb(199, 255, 199);
    border-radius: 5px;
}

.alert-danger{
    color: red;
    border: 1px solid red;
    background-color: rgb(255 218 214);
    border-radius: 5px;
}

.item-page__detail {
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.detail__content {
    position: absolute;
    width: 100%;
    margin: 60px 0 60px 0;
}

.item__img {
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 70px;
    margin-top: 20px;
}

.item__img img {
    width: 300px;
    height: 300px;
}

.item--sold{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: bold;
    position: absolute;
    top: 115px;
    width: 300px;
    height: 70px;
    background: rgba(241, 13, 13, 0.6);
}

.item__detail {
    position: absolute;
    left: 50%;
    width: 50%;
}

.item__name {
    font-size: 30px;
    font-weight: bold;
}

.item__brand {
    font-size: 14px;
}

.item__price {
    font-size: 28px;
    margin-top: 10px;
}

.item__currency,
.tax-included {
    font-size: 20px;
}

.item__action {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

/* お気に入りの☆*/
.action--favorite {
    font-size: 50px;
    cursor: pointer;
    color: gray;/* クリック前 */
    transition: color 0.3s;
}
.action--favorite.active {
    color: gold; /* クリック後 */
}
/*ここまで*/

/* コメント数　*/
.action--comment{
    display: flex;
    flex-direction: column;
}

.comment-icon,
.fovorite-icon{
    width: 50px;
    height: 50px;
    vertical-align: bottom;  
}

.comments__count{
    text-align: center;
    font-size: 14px; 
    margin: 2px 0 5px 0;
}

.item-purchase__btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50%;
    height: 40px;
    font-size: 18px;
    background-color: #ff6347;
    border: #ff6347 solid 1px;
    border-radius: 3px;
    text-align: center;
    padding: 0 auto;
    cursor: pointer;
}

.purchase__btn{
    text-decoration: none;
    color: #fff;
}

.item__description,
.item__info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
}

.item__category,
.item__condition {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
}

.description__label,
.info__label {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item__category-label,
.item__condition-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.item__category ul{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.item__category-type {
    border-radius: 20px;
    background-color: #dcdcdc;
    font-size: 12px;
    list-style: none;
    padding: 3px 10px;
}

.item__condition-type {
    font-size: 12px;
    margin: 0 20px;
}

.item__comment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
}

.comment__count {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: grey;
}

.comment__user {
    margin: 10px 0;
}

.user__img img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user__name {
    font-size: 16px;
}

.comment__detail {
    background-color: #dcdcdc;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
}

.comment-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.comment-form__label {
    font-size: 16px;
    font-weight: bold;
}

.comment__box {
    height: 100px;
    font-size: 16px;
    width: 100%;
}

.comment-form__btn {
    margin: 30px 0;
}

.comment-form__btn button {
    background-color: #ff6347;
    border: #ff6347 solid 1px;
    border-radius: 3px;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.comment__danger{
    width: 100%;
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}


/* PC用 (1400-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
}

/* タブレット用 (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {
}
