.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
}

p {
  font-size: 22px;
}

.auth a{
  color: black;
  text-decoration: none;
}
.auth {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 30px 10px 10px 10px; 
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
}

.auth__retry {
  width: 100%;
  margin-top: 30px;
}

.auth__retry button {
  border: none;
  font-size: 20px;
  color: blue;
  background-color: transparent;
  width: 100%;
}

/* タブレット用 (768-850px) */
@media (min-width: 768px) and (max-width:850px) {
  p {
    font-size: 20px;
  }

  .auth {
    font-size: 22px;
  }

  .auth__retry button {
    font-size: 18px;
  }
}
