.logout-btn button{
    border: none;
    font-size: 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.tab-box {
    display: block;
    width: 100%;
    margin-top: 50px;
}

.tab-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding: 0 50px;
}

.tab {
    display: block;
    width: 15%;
}

.tab label {
    display: block;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: black;
    padding: 10px;
}

.tabRadio {
    display: none;
}

label:hover {
    cursor: pointer;
    opacity: 0.8;
}
/* ラジオボタンがチェックされた時のラベルの文字色 */
#tab_1:checked ~ .tab-list label[for="tab_1"],
#tab_2:checked ~ .tab-list label[for="tab_2"] {
    color: red;
    font-weight: bold
}

.tabContent {
    display: none;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 50px 0;
}
#tab_1:checked ~ .tabContentList #content_1,
#tab_2:checked ~ .tabContentList #content_2 {
    display: block;
}
#tab_1:checked ~ .tabList .tab #tab_label_1,
#tab_2:checked ~ .tabList .tab #tab_label_2 {
    line-height: 1.8;
    font-weight: bold;
}
#tab_1:checked ~ .tabList .tab #tab_label_1:hover,
#tab_2:checked ~ .tabList .tab #tab_label_2:hover {
    cursor: auto;
    opacity: 1;
}
