.header {
    background-color: black;
    width: 100%;
    padding: 5px 5px;
    display: flex;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__inner img {
    max-width: 100%;
    height: auto;
}

/* タブレット (768-850px) 用のスタイル */
@media (min-width: 768px) and (max-width: 850px) {
    .header__inner img {
        width: 30%;
    }
}
/* PC (1400-1540px) 用のスタイル */
@media (min-width: 1400px) and (max-width: 1540px) {
    .header__inner img {
        width: 40%;
    }
}
