.alert {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: relative;
}

.alert-success {
    font-size: 14px;
    margin: 10px 30px;
    padding: 0 10px;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 10px;
    color: green;
    border: 1px solid green;
    background-color: rgb(199, 255, 199);
    border-radius: 5px;
}

.profile-form {
    width: 100%;
    padding: 20px;
}

.profile-form__content {
    box-sizing: border-box;
    padding: 20px;
}

.profile-form__header {
    display: flex;
    position: relative;
    top: 20px;
    left: 10%;
}

.profile__img {
    position: absolute;
    left: 10%;
}

.profile-icon {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: #dcdcdc;
    border: #dcdcdc 1px solid;
    margin: 20px 10px 30px 10px;
}

.profile__user-name {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 55px;
    left: 25%;
}

.profile__edit a {
    text-decoration: none;
    color: red;
    border: 1px red solid;
    border-radius: 5px;
    padding: 5px 30px;
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 20px;
}

.profile-form__img input {
    display: none;
}

/*ここからタブ*/
.profile-form__tab-box {
    display: block;
    width: 100%;
    position: relative;
    top: 200px;
}

.tab-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding: 0 50px;
}

.tab {
    display: block;
    width: 15%;
}

.tab a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: black;
    padding: 10px;
}

.tabRadio {
    display: none;
}

label:hover {
    cursor: pointer;
    opacity: 0.8;
}
/* ラジオボタンがチェックされた時のラベルの文字色 */
.tab-list a.active {
    color: red;
    font-weight: bold;
}
.tabContent {
    display: none;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 50px 0;
}

#tab_1:checked ~ .tabContentList #content_1,
#tab_2:checked ~ .tabContentList #content_2 {
    display: block;
}
#tab_1:checked ~ .tab-list .tab #tab_label_1,
#tab_2:checked ~ .tab-list .tab #tab_label_2 {
    line-height: 1.8;
    font-weight: bold;
}
#tab_1:checked ~ .tab-list .tab #tab_label_1:hover,
#tab_2:checked ~ .tab-list .tab #tab_label_2:hover {
    cursor: auto;
    opacity: 1;
}

.items__list {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 40px;
    justify-items: start;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    position: relative;
    max-width: 200px;
    width: 100%;
}

.item-img img {
    display: block;
}

.item-icon {
    width: 200px;
    height: 200px;
    border: 1px #dcdcdc solid;
    background-color: #dcdcdc;
}
.item-label {
    font-size: 18px;
    width: 100%;
    text-align: left;
}

.item--sold {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    position: absolute;
    top: 75px;
    width: 100%;
    height: 50px;
    background: rgba(241, 13, 13, 0.6);
}

/* タブレット (768-850px) 用のスタイル */
@media (min-width: 768px) {
    .alert-success {
        font-size: 12px;
    }

    .profile__img {
        left: 8%;
    }

    .profile-icon {
        width: 120px;
        height: 120px;
    }

    .profile__user-name {
        font-size: 22px;
        top: 60px;
        left: 26%;
    }

    .profile__edit a {
        top: 60px;
        font-size: 16px;
    }

    .tab a {
        font-size: 14px;
    }

    .items__list {
        grid-template-columns: repeat(5, minmax(150px, 1fr));
    }

    .item {
        margin: 10px 0;
        max-width: 150px;
    }

    .item-img img {
        display: block;
    }

    .item-icon {
        width: 150px;
        height: 150px;
    }

    .item-label {
        font-size: 16px;
    }

    .item--sold {
        font-size: 15px;
        top: 55px;
        width: 100%;
        height: 40px;
    }
}

/* PC (1400-1540px) 用のスタイル */
@media (min-width: 1400px) {
    .alert-success {
        font-size: 16px;
    }

    .profile__user-name {
        font-size: 26px;
        top: 70px;
        left: 20%;
    }

    .profile__edit a {
        padding: 5px 50px;
        top: 70px;
        font-size: 22px;
    }

    .tab a {
        font-size: 18px;
    }

    .items__list {
        grid-template-columns: repeat(6, minmax(220px, 1fr));
    }

    .item {
        max-width: 220px;
    }

    .item-icon {
        width: 220px;
        height: 220px;
    }

    .item-label {
        font-size: 18px;
    }

    .item--sold {
        font-size: 24px;
        padding: 16px 0;
        top: 90px;
        width: 100%;
        height: 60px;
    }
}
